.DS_Store
.thumbs.db
node_modules

/dist
/src-capacitor
/src-cordova
/.quasar
/quasar.config.*.temporary.compiled*

.env
.env.local
.env.example
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/src-ssr/middleware/*
!/src-ssr/middleware/.gitkeep
